<%- include("./partials/head", { arc, bot, user, path, description, title: "Aeona - Maintenance" , url, image }) %>

<div class=" min-h-screen text-center">
  <div class="mt-15">
    <img src="http://<%= hostname %>/logo.png" class="max-w-xs rounded-full shadow-2xl animate__animated  animate__infinite animate__pulse animate__slow mx-auto" />
    <div>
      <h1 class="text-5xl font-bold text-white transition  ease-in duration-300 ">Under Maintenance, We will be right back!</h1>
    </div>
  </div>





  <%- include("./partials/footer") %>