<%- include("./partials/head", { arc, bot, user, path, description, title: "Aeona - Url" , url, image }) %>

<h1 class="text-center text-4xl font-bold text-white">Aeona's Url Policy</h1>
<details open>
    <summary>
      What is our Url Policy
      <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
      </svg>
      <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
      </svg>
    </summary>
    <p>1- You are strictly not allowed to use the following module for ip logging, as you are forbidden of using
      malicous Links.<br>2- We are allowed to delete your url's anytime due to specific reasons.<br>3- Please note that
      we are able to see every URL created<br><br><b style="color: red">Breaking the first policy will result to a bot
        blacklist.</b></p>
  </details>

  <details>
    <summary>
      How do I report a user Breaking the policy Above?
      <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
      </svg>
      <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
      </svg>
    </summary>
    <p>To report You can easily access our report page at <a
        href="https://Aeona.xyz/report">(https://Aeona.xyz/report)</a> and report the user. Please make sure to add as
      much as proof as you have with the URL ID.</p>
  </details>

  <details>
    <summary>
      Can Aeona's Team see my IP adress when link is clicked?
      <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
      </svg>
      <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
      </svg>
    </summary>
    <p>No. we do not store anyone's IP adress when a link is clicked. We only store the amount of clicks each URL.</p>
  </details>


<%- include("./partials/footer") %>