<%- include("../partials/head", { arc, bot, user, path, description, title: "Aeona - Dashboard" , url, image }) %>
<%- include("../partials/sidebar", { arc, bot, user, path, description, title: "Aeona - Dashboard" , url, image }) %>

<div class="absolute top-0">
  <label for="my-drawer-2" class=" drawer-button lg:hidden">Open Menu</label>

</div>
<%- include("../partials/sidebar-end", { arc, bot, user, path, description, title: "Aeona - Dashboard" , url, image }) %>
<%- include("../partials/footer") %>